
/*=============================================
*---------------MIAN CONTENT
===============================================*/
.main .main-right{
	float: left;
	width:80%;
}
.right{
	width:99%;
	margin:5px auto 0;
}
.breadcrumb{
	background-color: #B5E5EF;
	padding:8px 15px;
	
}
.breadcrumb ul{
	text-align: left;
}
.breadcrumb ul li ~ li::before {
    position: absolute;
    content: "/";
    top: 0px;
    left: 0px;
}
.breadcrumb ul li a{
	color:#2a6496;
}
.breadcrumb ul li a:hover{
	color: #666666;
}
.news-left{
	float:left;
	width: 69%;
}
.diary{
	width:100%;
	border: 1px solid #DEDEDE;
	box-shadow: 0 0 10px rgba(189, 189, 189, 0.4);
}
.title-inner{
	background: url(../../images/secondary_bar.png) repeat-x;
}
.title-inner{
	color: #1F1F20;
	text-transform:uppercase;
	padding: 0px 5px 0 15px;
	line-height:30px;
}
.title-inner .title-inner-l{
	float:left;
	line-height:30px;
}
.title-inner .title-inner-r{
	float: right;
	font-size:12px;
	line-height:22px;
	color: #999;
	border: 1px solid #ccc;
	font-weight:bold;
	margin-top:3px;
	border-radius:5px;
	moz-border-radius:5px;
	webkit-border-radius:5px;
}
.title-inner-r ul li{
	float:left;
	text-transform:capitalize;
	padding:0px 10px;
}
.title-inner-r ul li:first-child{
	border-right:1px solid #ccc;;
}
.title-inner-r ul li:hover{
	cursor:pointer;
	background: #F1F2F4;
	-webkit-box-shadow: inset 0 2px 3px #818181;
	-moz-box-shadow: inset 0 2px 3px #818181;
	box-shadow: inset 0 2px 3px #818181;
	color: #666666;
}
.content{
	/*padding:8px 20px;*/
}
.content table{
	width:100%;
	border:none;
}
.content thead tr{
	background: url(../../images/table_sorter_header.png) repeat-x;
	text-align: left;
	text-indent: 10px;
	height: 34px;
}
.content thead tr th{
	border-top: 1px solid #DEDEDE;
	border-right: 1px solid #DEDEDE;
	text-align:center;
}
.content thead th:last-child{
	width:10px;
}
.content thead th:first-child{
	width:185px;
}
.content tr td{
	padding:10px 10px;
	border-bottom: 1px solid #DEDEDE;
	border-right: 1px solid #DEDEDE;	
}
.text-center{
	text-align: center;
}
.content tr:nth-child(2n){
	background:#B5E5EF;
}

.news-right{
	float: right;
	width: 30%;
}
.notification{
	width:100%;
	border: 1px solid #DEDEDE;
	box-shadow: 0 0 10px rgba(189, 189, 189, 0.4);
	margin-bottom:20px;
}
.message_list{
	height:250px;
	overflow-x: hidden;
	overflow-y: scroll;
}
.messages-box{
	margin:0px 20px;
	border-bottom:1px dotted #cccccc;
}
.messages-box:last-child{
	border-bottom:0px dotted #cccccc;
}
.user_day p:first-child{
	font-family: 'OpenSansBold';
	float:left;
}
.user_day p:last-child{
	text-align:right;
	font-family: 'OpenSansBold';
}
.orders{
	padding:5px 0px;
}
.orders a{
	color: #333333;
}
.orders a span:first-child{
	float:left;
}
.orders a span:last-child{
	float:right;
	color:#f00;
}
.search-notifi{
	background:url(../../images/module_footer_bg.png) repeat-x;
	padding: 4px 20px;
	border-top: 1px solid #9CA1B0;
}
.search-notifi input:first-child{
	height:20px;
	text-indent: 10px;
	border-radius:5px;
	moz-border-radius:5px;
	webkit-border-radius:5px;
	width:83%;
}
.search-notifi input:last-child{
	width:37px;
	background: url(../../images/post_message.png) no-repeat;
	border:none;
	height:24px;
}
.search-notifi input:last-child:hover{
	background: url(../../images/post_message.png) 0px -24px;
	cursor:pointer;
}
/*=============================================
*PHÂN TRANG
===============================================*/
.paging{
	text-align:center;
}
.paging ul li{
	display:inline-block;
	border: 1px solid #DEDEDE;
	padding: 5px 10px;
	-webkit-transition: all 0.2s ease;
	   -moz-transition: all 0.2s ease;
	    -ms-transition: all 0.2s ease;
	     -o-transition: all 0.2s ease;
	        transition: all 0.2s ease;
}
.paging ul li.goprev{
	
	border-radius:5px 0px 0px 5px;
	moz-border-radius:5px 0px 0px 5px;
	webkit-border-radius:5px 0px 0px 5px;
	cursor:pointer;
}
.paging ul li.current{
	padding:0px;
}
.paging ul li.current input{
	width: 50px;
	text-align: center;	
	padding: 7px 0px 8px;
	border:none;
}
.paging ul li.gonext{
	border-radius:0px 5px 5px 0px;
	moz-border-radius:0px 5px 5px 0px;
	webkit-border-radius:0px 5px 5px 0px;
	cursor:pointer;
}
.paging ul li:hover{
	background-color: #eee;
}
